$main_font:'Montserrat', sans-serif;
body {
  position: relative;
}
.registration_form_outer {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 25;
  background: rgba(57, 154, 158, 0.54);
  .registration_form {
    width: 80%;
    margin: 150px auto 0px auto;
    background: #000;
    color: #fff;
    font-family: $main_font;
    .form_header_outer {
      background: #4ba8ad;
      .form_header_inner {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        margin: 0px auto;
        padding: 20px 0px ;
        .close_window {
          width: 20px;
          height: 20px;
          position: relative;
          border: none;
          background: transparent;
          outline: none;
          cursor: pointer;
        }
      }
    }
    .main_form_outer {
      position: relative;
      .main_form {
        max-width: 700px;
        margin: 0px auto;
        position: relative;
        .field_title {
          width: 110px;
          text-align: right;
          color: #bfbfbf;
          font-size: 12px;
          font-weight: 700;
          padding: 0px 10px 0px 10px;
          margin: 0px;
          position: absolute;
          left: -125px;
          top:50%;
          transform: translate(0%, -50%);
        }
        select,input {
          background: #a1a1a1;
          border: none;
          outline: none;
          padding: 5px;
          border-radius: 3px;
          color: #5e5e5e;
          font-size: 13px;
          font-weight: 500;
          &:focus {
            background: #e1e1e1;
          }
        }
        select {
          width: 260px;
        }
        input {
          width: 250px;
        }
        .title {
          color: #4ba8ad;
          margin: 0px auto;
          font-size: 13px;
          font-weight: 600;
          padding-top: 60px;
          padding-bottom: 15px;
        }
        .bussiness_type {
          margin-bottom: 80px;
          display: flex;
          flex-direction: column;
          position: relative;
          .bussiness_type_inner {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 10px;
            .select {
              position: relative;
              &::after {
                content: '';
                width: 8px;
                height: 8px;
                border-style: solid;
                border-width: 0 0 2px 2px;
                border-color: transparent transparent #524c4c #524c4c;
                border-radius: 3px;
                position: absolute;
                right: 10px;
                top: 50%;
                z-index: 10;
                margin-top: -7px;
                transform: rotate(-45deg);
              }
            }
             select {
              position: relative;
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              .select_item {
                padding: 20px;
              }
              .off {
                display: none;
              }
            }
            .req_field {
              margin-top: -20px;
              padding-left: 8px;
              padding-right: 5px;
            }
            .info {
              margin-top: -10px;
              padding: 0px;
            }
            .info:hover + .tooltip{
              display: block;
            }
            .tooltip {
              display: none;
              position: absolute;
              background: #3e7e82;
              color: #000;
              font-size: 13px;
              font-weight: 600;
              border-radius: 5px;
              z-index: 20;
              top: 30px;
              &::after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8px 13px 8px;
                border-color: transparent transparent #3e7e82 transparent;
                position: absolute;
                top: -13px;
                right: 172px;
                z-index: 20;
              }
              p {
                margin: 0px;
                padding: 10px 5px;
              }
            }
          }
          .corporate, .individual {
            display: none;
            position: relative;
            margin-bottom: 10px;
            label {
              position: relative;
              img {
                position: absolute;
                top: 0px;
                right: -15px;
              }
            }

          }
        }
        .main_info_block {
          .real_name {
            display: flex;
            justify-content: space-between;
            .first_name, .last_name  {
              position: relative;
              img {
                position: absolute;
                right: -15px;
                top: 0px;
              }
            }
          }
          .username {
            margin: 10px 0px;
            display: flex;
            .username_inner {
              position: relative;
              img {
                position: absolute;
                right: -15px;
                top: 0px;
              }
            }

          }
          .security_block {
            display: flex;
            justify-content: space-between;
            .security_digit {
              padding-left: 30px;
              display: flex;
              flex-direction: column;
              align-items: center;
              flex-grow: 1;
              .scr_num, .confirm_scr_num {
                position: relative;
                margin: 0px 0px 10px 0px;
                label {
                  position: relative;
                  input {
                    width: 100px;
                  }
                }
              }
              .scr_num {
                .req_field {
                  position: absolute;
                  right: -15px;
                  top: 0px;
                  z-index: 10;
                }
                .info {
                  position: absolute;
                  right: -40px;
                  z-index: 10;
                }

                .tooltip {
                  display: none;
                  position: absolute;
                  background: #3e7e82;
                  color: #000;
                  font-size: 13px;
                  font-weight: 600;
                  border-radius: 5px;
                  z-index: 20;
                  top: 30px;
                  width: 420px;
                  right: -160px;
                  &::after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 8px 13px 8px;
                    border-color: transparent transparent #3e7e82 transparent;
                    position: absolute;
                    top: -10px;
                    right: 121px;
                    z-index: 20;
                  }
                  p {
                    margin: 0px;
                    padding: 10px 5px;
                  }
                }
                .info:hover + .tooltip {
                  display: block;
                }
              }
              .confirm_scr_num {
                img {
                  position: absolute;
                  right: -15px;
                  top: 0px;
                }
              }
            }
            .password_block {
              .password, .confirm_password {
                position: relative;
                margin: 0px 0px 10px 0px;
              }
              .password {
                .req_field {
                  position: absolute;
                  right: -15px;
                  top: 0px;
                  z-index: 10;
                }
                .info {
                  position: absolute;
                  right: -40px;
                  z-index: 10;
                }

                .tooltip {
                  display: none;
                  position: absolute;
                  background: #3e7e82;
                  color: #000;
                  font-size: 13px;
                  font-weight: 600;
                  border-radius: 5px;
                  z-index: 20;
                  top: 30px;
                  width: 420px;
                  &::after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 8px 13px 8px;
                    border-color: transparent transparent #3e7e82 transparent;
                    position: absolute;
                    top: -10px;
                    right: 121px;
                    z-index: 20;
                  }
                  p {
                    margin: 0px;
                    padding: 10px 5px;
                  }
                }
                .info:hover + .tooltip {
                  display: block;
                }
              }
              .confirm_password {
                img {
                  position: absolute;
                  right: -15px;
                  top: 0px;
                }
              }
            }
          }
        }
        .contacts_block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 50px;
          .email_url {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          .email_address, .site_url, .contacts_number , .country{
            position: relative;
            margin-top: 10px;
            img {
              position: absolute;
              right: -15px;
              top: 0px;
            }
          }
        }
        .agreement {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 25px;
          position: relative;
          label {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
            cursor: pointer;
            input {
              width: initial;
              margin: 0px;
            }
            span {
              position: static;
              width: initial;
              padding: 0px 10px;
              transform: translate(0%,0%);
              a {
                color: #4ba8ad;
              }
            }
            img {
              align-self: end;
            }
          }
          button {
            margin-top: 50px;
            background: #4ba8ad;
            font-size: 13px;
            font-weight: 700;
            color: #ffff00;
            padding: 8px 23px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
          }
        }
        .footer_content {
          position: relative;
          margin-top: 50px;
          padding-bottom: 50px;
          display: flex;
          justify-content: space-between;
          .warning {
            p {
              color: #545353;
              font-size: 12px;
              font-weight: 600;
              margin: 0px;
              a {
                color: #4ba8ad;
              }
              img {
                vertical-align: super;
              }
            }
          }
          button {
            color: #a1a1a1;
            font-size: 13px;
            background: transparent;
            border: none;
            font-weight: 600;
            cursor: pointer;
            outline: none;

            position: absolute;
            top: 15px;
            right: 0px;
            z-index: 10;
          }
        }
      }
      .success_form {
        display: none;
        background: #000;
        position: absolute;
        z-index: 30;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        .pictures {
          position: relative;
          .pic_1 {
            position: absolute;
            top: 100px;
            right: 280px;
          }
          .pic_2 {
            position: absolute;
            top:200px;
            right: 150px;
          }
        }
        .text {
          padding: 0px 20px;
          position: relative;
          max-width: 800px;
          margin: 350px auto 0px auto;
          h1{
            font-size: 34px;
            font-weight: 700;
            color: #4ba8ad;
          }
          p{
            font-size: 18px;
            font-weight: 500;
            color: #bfbfbf;
            line-height: 35px;
            a{
              color: #4ba8ad;
            }
          }
          .close_success_form {
            position: absolute;
            bottom: -70px;
            right: 30px;
            z-index: 30;
            color: #a1a1a1;
            font-size: 15px;
            background: transparent;
            border: none;
            font-weight: 600;
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }
}
.error {
  position: relative;
  input {
    border: 1px solid red !important;
  }
  &::before {
    content: 'Incorrect data entered';
    position: absolute;
    z-index: 10;
    color: red;
    width: 100%;
    top: 2px;
    left: 4px;
    font-size: 13px;
    font-weight: 600;
    line-height: 10px;
  }
}
.error_select {
  position: relative;
  select {
    border: 1px solid red;
  }
  &::before {
    content: 'Incorrect data entered';
    position: absolute;
    z-index: 10;
    color: red;
    width: 100%;
    top: 7px;
    left: 4px;
    font-size: 13px;
    font-weight: 600;
    line-height: 10px;
  }
}

.current_bsn_type {
  display: flex !important;
}


@media (max-width: 1150px) {
  .registration_form_outer {
    .registration_form {
      .main_form_outer {
        padding-right: 30px;
        .main_form {
          .field_title {
            position: static;
            display: block;
            text-align: left;
            padding: 5px 0px;
            transform: translate(0%,0%);
            width: initial;
          }
          .bussiness_type {
            .bussiness_type_inner {
              .req_field {
                margin-top: 5px;
              }
              .info {
                margin-top: 15px;
              }
              .tooltip {
                top: 60px !important;
              }
            }
          }
          .main_info_block {
            .tooltip {
              top: 60px !important;
              right: -65px !important;
              width: 300px !important;
              &::after {
                right: 25px !important;
              }
            }
            .security_block {
              .security_digit {
                padding-left: 0px;
                flex-grow: 0;
                input {
                  width: 250px !important;
                }
              }
            }
          }
          .corporate, .individual, .main_info_block,.contacts_block {
            img {
              top: 30px !important;
            }
          }
        }
      }
    }
  }
  .error {
    &::before {
      top: 32px;
    }
  }
}
@media (max-width: 940px) {
  .registration_form_outer {
    .registration_form {
      .form_header_outer {
        .form_header_inner {
          padding: 20px;
        }
      }
      .main_form_outer {
        .main_form {
          padding: 0px 20px;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .registration_form_outer {
    .registration_form {
      .main_form_outer {
        .main_form {
          .field_title {
            width: initial;
          }
          .title {
            text-align: center;
          }
          .bussiness_type {
            align-items: center;
            .tooltip {
              top: 50px !important;
              right: -5px;
              &::after {
                right: 5px !important;
                top: -10px !important;

              }
            }
            .bussiness_type_inner {
              justify-content: center;
              padding-left: 39px;
            }
          }
          .main_info_block {
            .real_name {
              flex-direction: column;
              align-items: center;
            }
            .username {
              justify-content: center;
            }
            .security_block {
              .tooltip {
                top: 60px !important;
                width: 235px !important;
                right: -40px !important;
                &::after {
                  right: 0px !important;
                }
              }
              flex-direction: column;
              align-items: center;
              .security_digit {
                padding: 0px;
                .scr_num, .confirm_scr_num {
                  input {
                    width: 250px;
                  }
                }
              }
            }
          }
          .contacts_block {
            align-items: center;
            .email_url {
              flex-direction: column;
              align-items: center;
            }
          }
          .agreement {
            align-items: center;
            label {
              width: 260px;
              justify-content: center;
              align-items: center;
            }
          }
          .footer_content {
            justify-content: center;
            padding-bottom: 80px;
            button {
              top: 85px;
            }
          }
        }
        .success_form {
          .pictures {
            .pic_1, .pic_2 {
              width: 190px;
            }
            .pic_1 {
              right: 180px;
            }
            .pic_2 {
              right: 50px;
            }
          }
        }
      }
    }

  }
}
@media (max-width: 500px) {
  .registration_form_outer {
    min-width: 360px;
    background:#000;
    .registration_form {
      width: 100%;
      margin: 0px;
      .main_form_outer {
        .success_form {
          .pictures {
            .pic_1, .pic_2 {
              width: 160px;
            }
          }
          .text {
            h2 {
              font-size: 29px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
